<!-- product_sort.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Product Sort</title>
</head>
<body>
    <a href="/dashboard/products/">Back</a>
    <h1>Product Sort Results</h1>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>In Stock</th>
                <th>Product Price</th>
                <th>Product Description</th>
                <th>Product Category</th>
                <th>Product Brand</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.in_stock }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_desc }}</td>
                <td>{{ product.product_category }}</td>
                <td>{{ product.product_brand }}</td>
                <td>{{ product.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>